@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* variables */
:root {
  --text-white: #ffffff;
  --text-gray: #78909c;
  --text-blue: #53b5ff;
  --bgc-navy: #25395a;
  --bgc-denim: #171631;
}

/* global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-image: radial-gradient(
    circle at 0 2%,
    var(--bgc-navy),
    var(--bgc-denim) 124%
  );
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  animation: updown-animation 5s ease-in-out infinite;
}

@keyframes updown-animation {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  cursor: pointer;
}

.intro-section {
  padding: 15rem 0;
  height: 100vh;
  width: 100%;
}

.intro-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left section */
.intro-section .container .left-section {
  flex: 6;
}

.intro-section .left-section .heading {
  color: var(--text-white);
  font-weight: 600;
  font-size: 6rem;
  line-height: 9rem;
}

.intro-section .left-section .description {
  color: var(--text-gray);
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
}

.intro-section .left-section .buttons-wrapper {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.75rem;
}

.intro-section .button {
  color: var(--text-gray);
}

.intro-section .button svg {
  height: 48px;
  width: 48px;
  opacity: 0.75;
  transform: scale(1);
}

.intro-section .button svg:hover {
  opacity: 1;
  animation: logo-animation 0.5s ease-in-out infinite alternate;
}

@keyframes logo-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

/* right section */
.intro-section .container .right-section {
  flex: 8;
}

.intro-section .right-section {
  text-align: right;
}

.intro-section .right-section img {
  width: 100%;
  max-width: 560px;
  height: 520px;
}

@media only screen and (max-width: 768px) {
  .intro-section .container {
    margin: 2rem auto;
    flex-direction: column-reverse;
  }

  .intro-section .container .right-section {
    text-align: center;
  }

  .intro-section .right-section img {
    width: 100%;
    max-width: 300px;
    height: 260px;
  }

  .intro-section .left-section {
    margin: 50px;
    justify-content: center;
  }

  .intro-section .left-section .heading {
    text-align: center;
    font-size: 3rem;
  }

  .intro-section .left-section .description {
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.375rem;
  }

  .intro-section .left-section .buttons-wrapper {
    justify-content: center;
    gap: 2rem;
  }

  .intro-section .button svg {
    height: 32px;
    width: 32px;
  }
}

@media only screen and(max-width: 950px) {
  .intro-section .container .right-section {
    flex: 6;
  }
}
