@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* variables */
:root{
    --text-white :#FFFFFF;
    --text-gray :#78909C;
    --text-blue :#53B5FF;
    --bgc-navy:#25395A;
    --bgc-denim:#171631;
}

/* global styles */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
}

body{
    background-image: radial-gradient(circle at 0 2%,var(--bgc-navy),var(--bgc-denim) 124%);
}

a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
}
